@import '../../../../styles/utilities';

.deliveryItem {
    @apply flex bg-white items-center;
    border-radius: 5% 5% 5% 5%/ 25% 45% 35% 35%;;
    margin-bottom: 1.6rem;
}

.separator {
    border-left: 2px dashed #EBEBEB;
    margin-left: 2.4rem;
    margin-right: 2.4rem;
    max-height: 9.2rem;
    min-height: 8.6rem;
}