.mainLayout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    .wrapperWithBg {
        @apply bg-background-gray;
        width: 100%;
        margin-top: -3.2rem;
    }

    > main,
    .wrapperWithBg > main {
        flex: 1;
        width: 100%;
        max-width: min(100%, 1536px);
        margin: auto;
    }
}
.filter {
    @screen md {
        display: none;
    }
}
