@import '../../../../styles/utilities';

.accountPage {
    background-color: #F5F4F2;
    margin-top: -3.2rem;
    padding: 3.2rem 2rem;
    min-height: 70rem;

    @screen md {
        padding-left: 2.8rem;
        padding-right: 2.8rem;
    }

    @screen lg {
        padding-left: 6.4rem;
        padding-right: 6.4rem;
    }

    @screen xl {
        padding-left: 11.2rem;
        padding-right: 11.2rem;
    }
   
    .header {
        margin-bottom: 1.2rem;

        @screen md {
            margin-bottom: 3.8rem;
        }
    }
}