@import "../../../styles/utilities";

.cardBlogWarpper {
    @apply inline-flex flex-col justify-start;
    max-width: 39.2rem;
    min-height: 34.4rem;
    .image {
        width: 100%;
        max-height: 22rem;
        border-radius: 2.4rem;
        &:hover {
            cursor: pointer;
        }
        img{
            border-radius: 2.4rem;
        }
    }
    .title {
        padding: 1.6rem 0.8rem 0.4rem 0.8rem;
        @apply font-bold;
        font-size: 2rem;
        line-height: 2.8rem;
        letter-spacing: -0.01em;
        color: var(--text-active);
        &:hover {
            cursor: pointer;
        }
    }
    .description {
        padding: 0 0.8rem;
        @apply overflow-hidden overflow-ellipsis ;
        color: var(--text-label);
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}