.root {
  @apply py-4 px-6 bg-black text-white flex flex-row justify-center items-center;
}

.title {
  @apply text-white font-medium;
}

.separator {
  @apply mx-3 bg-white;
  width: 1px;
  height: 20px;
}

.separator:before {
  content: "";
}

.description {
  @apply text-white font-medium;
}
