@import "../../../../../../styles/utilities";

.warpper {
    @apply u-form;
    @screen md {
        padding: 0 5.6rem;
    }
    .bottom {
        @apply flex flex-col items-start;
        margin-top: 2.4rem;
        button {
            margin-left: auto;
        }
    }
    .line {
        > div {
            width: 50%;
        }
    }
}
