@import "../../../styles/utilities";
.menuNavigationProductListDesktop{
    @screen sm-only {
        @apply hidden;
    }
}
.menuNavigationProductListMobile{
   
    // transform: translateY(-20%);
    
    .menuNavigationProductModal{
        @apply transition-all duration-100 hidden;
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 10000;

        &.isShow{
            @apply block;
        }
    
        .content{
            @apply  relative w-full hidden;
            margin-top: 3rem;
            padding-top: 8rem ;
            padding-bottom: 5rem;
            background-color: white;
            overflow-x: hidden;
            overflow-y: auto;
            height: 100%;
            border-radius: 2.4rem 2.4rem 0 0;
            // transform: translateY();
            .head{
                @apply flex justify-between fixed;
                top:0;
                left:0;
                margin-top: 3rem;
                border-radius: 2.4rem 2.4rem 0 0;
                padding: 3rem 2rem 1rem 2rem;
                width: 100%;
                background-color: white;
                z-index: 10000;
                h3{
                    @apply heading-3 font-bold;
                    color:var(--text-base);
                }
            }
            .foot{
                @apply fixed;
                bottom: 0;
                left:0;
                width: 100%;
                background-color: white;
                padding: 0 1rem 2rem 1rem;
            }
            button{
                margin-top: 2rem;
                width: 100%;
            }
        }
    }
}