@import "../../../styles/utilities";
.menuNavigationProductListDesktop{
    @apply hidden;
}
.menuNavigationProductListMobile{
    @apply hidden;
    &.isShow{
        @apply block;
        @screen md {
            @apply hidden;
        }
    }
    .menuNavigationProductModal{
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 10000;
        .content{
            @apply spacing-horizontal;
            margin-top: 3rem;
            padding-top: 2rem ;
            padding-bottom: 5rem;
            background-color: white;
            overflow: auto;
            height: 100%;
            border-radius: 2.4rem 2.4rem 0 0;
            .head{
                @apply flex justify-between;
                h3{
                    @apply heading-3 font-bold;
                    color:var(--text-base);
                }
            }
            button{
                margin-top: 2rem;
                width: 100%;
            }
        }
    }
}