@import '../../../styles/utilities';

.logo{
    display: flex;
    .eclipse{
        width: 3.2rem;
        height: 3.2rem;
        background-color: var(--primary);
        border-radius: 50%;
        margin-right: 1.2rem;
    }
    .content{
        @apply font-logo sub-headline;
        font-size: var(--font-size);
    }
}