@import "../../../../../styles/utilities";

.headerSubMenu {
    @apply hidden;
    @screen md {
        @apply block;
        padding-bottom: 2.4rem;
        margin-top: 1.6rem;
        transform: none;
        height: unset;
        @screen lg {
            @apply flex justify-between items-center;
        }
        .menu {
            @apply flex items-center list-none;
            margin-bottom: 2.4rem;
            @screen lg {
                margin-bottom: 0;
            }
            li {
                &:not(:last-child) {
                    margin-right: 2.4rem;
                    @screen lg {
                        margin-right: 4rem;
                    }
                }
                a {
                    @appy no-underline;
                }
                &:hover {
                    @apply text-primary;
                }
                &.active {
                    @apply text-primary;
                }
            }
        }
    }
}
