@import "../../../../styles/_utilities";
.homeCategoriesWrapper {
    @apply flex flex-col items-center justify-center spacing-horizontal;
    @screen md {
        background-color: var(--background);
    }
    .homeCategoryList {
        @apply flex justify-start items-center flex-wrap;
        margin: 1rem 0;
        @screen md {
            @apply flex-nowrap;
        }
        .homeCategoriesItem {
            width: calc(100% / 3);
            @screen md {
                margin-top: 2rem;
                width: 100%;
            }
        }
    }
}
