.promo {
  @apply bg-gray;
  min-height: 6.4rem;
  padding: 1.6rem 2.4rem;
  .top {
    @apply flex justify-between items-center;
  }
  .codes {
    @apply flex items-center;
    margin-top: 1.6rem;
  }
  .buttonAdd {
    svg path {
      @apply transition-all duration-200;
      &:hover {
        fill: var(--primary);
      }
    }
  }
  .modalPromotion {
    min-width: 40rem;
    .bottom {
      @apply flex justify-end items-center;
      margin-top: 3.2rem;
      button {
        &:first-child {
          margin-right: 0.8rem;
          @screen md {
            margin-right: 3.2rem;
          }
        }
      }
    }
  }
}
