@import '../../../../../styles/utilities';

.accountNavigationItem {
    width: 28rem;
    padding: 1.2rem 0 1.2rem 1.6rem;
    margin-bottom: 1.2rem;


    &:hover {
        @apply cursor-pointer;
    }

    &.active {
        background-color: #FBFBFB;
        border-radius: 0 1.6rem 1.6rem 0;
        // border-left: 2px solid var(--primary);
    }
}