@import "../../../../../styles/utilities";

.recipeIngredient {
    padding: 6rem 0;
    @screen md {
        padding: 5.6rem 0;
    }
    .top {
        @apply flex justify-between items-center spacing-horizontal;
    }
    .bottom {
        @apply flex justify-center items-center spacing-horizontal;
        margin-top: 4rem;
        button {
            width: 100%;
            @screen md {
                width: 39rem;
            }
        }
    }
}

.errorMessage {
    margin-top: 4rem;
    color: var(--negative);
    @screen md {
        min-width: 38rem;
    }
    li {
        padding: 0.8rem 0;
        margin-bottom: 1.6rem;
        .error {
            padding: .8rem;
            margin-top: .8rem;
            
            text-align: center;
            background-color: var(--negative-light);
            border-radius: .8rem;
        }
    }
}
