{
  "branches": [
    "main",
    "develop"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    [
      "@semantic-release/npm",
      {
        "npmPublish": false
      }
    ],
    [
      "semantic-release-jira-notes",
      {
        "jiraHost": "aspireiq.atlassian.net"
      }
    ],
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md"
        ]
      }
    ],
    "@semantic-release/github",
    [
      "semantic-release-jira-releases",
      {
        "projectId": "DC",
        "jiraHost": "aspireiq.atlassian.net"
      }
    ]
  ]
}
