.listBlogCardSkeleton {
    display: flex;
    overflow: hidden;
    width: 90%;
    justify-content: space-between;
    
    div{
        min-width: 32rem;
    }

    &.wrap {
        flex-wrap: wrap;
        overflow: unset;
        > div {
            margin-bottom: 1.6rem;
        }
    }
    
}
