@import "../../../../styles/utilities";

.menuSortWrapper{
    .menuSortHeading{
        @apply heading-3 font-heading;
        margin: 0.8rem 0;
    }
    .menuSortList{
        padding-bottom: 1rem;
        box-sizing: border-box;
    }
}
