@import "../../../../styles/utilities";
.menuSortWrapper{
    @apply spacing-horizontal;

    .menuSortHeading{
        @apply sub-headline font-bold ;
        color: var(--text-active);
        font-feature-settings: 'salt' on;
        margin: 0.8rem 0;
    }
    .menuSortList{
        margin-bottom: 2rem;
        box-sizing: border-box;
        
        li{
            div{
             height: 4.8rem;
             line-height: 4.8rem;
             padding: 0 1.6rem;
             margin-right: 0.8rem;
             border-radius: 0.8rem;
             &.active {
                @apply font-bold relative;
                color:var(--text-active);
                background-color: var(--primary-lightest);
                &::after{
                    @apply absolute;
                    content:"";
                    background-image: url('/assets/svg/check.svg');
                    right: 1.6rem;
                    top: calc(50% - 24px/2);
                    width: 2.4rem;
                    height: 2.4rem;
                }
             }
            }
        }
    }
}
