.warpper {
  max-width: 56.3rem;
	padding: 3.2rem;
  @apply flex justify-between flex-col border-l-2 border-solid border-line;
  .title {
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.8rem;
  }
  .list {
    min-height: 52.8rem;
  }
  .bot {
    .promo {
      // padding: 3.2rem;
      @apply bg-gray flex justify-between items-center;
      min-height: 6.4rem;
    }
    .price {
      .line {
        @apply flex justify-between items-center text-label;
        .total {
          font-weight: bold;
          font-size: 2rem;
          line-height: 2.8rem;
        }
      }
    }
  }
}
