@use 'styles/_typography';

.priceRanges {
    @include typography.header;

    display: flex;
    gap: 10px;

    .originalPrice {
        text-decoration-line: line-through;
    }
}

.variantPrice {
    .originalPrice {
        @include typography.body;

        text-decoration-line: line-through;
    }

    .actualPrice {
        @include typography.title;
    }
}
