@import "../../../../../../styles/utilities";
.warpper{
    @apply u-form;
    @screen md {
        padding-left: 5.6rem;
        .button {
            min-width: 22rem;
        }
    }
    .bottom{
        @apply flex flex-col items-start;
        margin-top: 2.4rem;
        button {
            margin-left: auto;
        }
    }
}