@import "../../../../../../styles/utilities";
.warpper{
    @apply u-form;
    @screen md {
        padding-left: 5.6rem;
        .button {
            min-width: 22rem;
        }
    }
    .bottom{
        margin-top: 2.4rem;
        @apply flex justify-between items-center;
        @screen sm-only {
            @apply flex-col items-start;
        }

    }
}