@import '../../../styles/utilities';
.featuredProductCardWarpper{
    // min-width: 30.2rem;
    height: 14.4rem;
    padding: 2.4rem;
    @apply bg-primary-light inline-flex justify-start items-center custom-border-radius ;
    @screen md {
        // min-width: 598px;
        height: 28.8rem;
        padding: 1.6rem 3.2rem 1.6rem 1.6rem;
    }
    @screen 2xl {
        // min-width: 598px;
        height: 28.8rem;
        padding: 2.4rem 4rem 2.4rem 2.4rem;
    }
    .left{
        max-width: 10rem;
        max-height: 10rem;
        @screen md {
            max-width: 24rem;
            max-height: 24rem;
        }
    }
    .right{
        margin-left: 1.2rem;
        // min-width: 27rem;
        max-width: 16.6rem;
        ma-height: 10rem;
        @apply flex justify-between flex-col;
        @screen md {
            margin-left: 2.4rem;
            max-width: 27.0rem;
            min-height: 16.8rem;
        }
        .rightTop{
            min-height: 6rem;
            @screen md {
                min-height: 9.6rem;
            }
            @apply flex justify-between flex-col;
            .title{
                @apply font-bold;
                font-size: 1.2rem;
                line-height: 1.6rem;
                letter-spacing: -0.01em;
                color: var(--text-active);
                @screen md {
                    font-size: 2rem;
                    line-height: 2.8rem;
                }
            }
            .subTitle{
                color: var(--text-base);
                font-size: 1.2rem;
                line-height: 1.6rem;
                @screen md {
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                }
            }
            .priceWrapper{
                @apply flex justify-start;
                .price{
                    @apply font-bold;
                    font-size: 1.2rem;
                    line-height: 1.6rem;
                    letter-spacing: -0.01em;
                    color: var(--text-active);
                    @screen md {
                        font-size: 2rem;
                        line-height: 2.8rem;
                    }
                }
                .originPrice{
                    margin-left: 0.8rem;
                    font-size: 1.2rem;
                    line-height: 1.6rem;
                    color: var(--text-label);
                    text-decoration-line: line-through;
                    @screen md {
                        font-size: 2rem;
                        line-height: 2.8rem;
                    }
                }
            }
        }
        .buttonWarpper{
            @apply flex;
            .icon{
                max-width: 3.2rem;
                max-height: 3.2rem;
                @screen sm-only{
                    button{
                        padding: 1rem;
                        svg{
                            width: 1.1rem;
                            height: 1.1rem;
                        }
                    }
                }
                @screen md {
                    max-width: 5.6rem;
                    max-height: 5.6rem;
                }
            }
            .button{
                margin-left: 0.8rem;
                min-width: 12.5rem;
                max-height: 3.2rem;
                button{
                    width: 100%;
                    height: 100%;
                }
                @screen sm-only {
                    button{
                        padding:0.9rem;
                    }
                }
                @screen md {
                    min-width: 20.6rem;
                    button{
                        height: initial;
                    }
                    max-height: 5.6rem;

                }
            }
        }
    }
}