.warpper {
  padding: 3.2rem;
  min-width: 100%;
  min-height: 100%;
  @screen lg {
    max-width: 56.3rem;
    @apply flex justify-between flex-col;
  }
  .title {
    display: none;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.8rem;
    @screen md {
      display: block;
    }
  }
  .empty {
    @apply flex flex-col justify-center items-center;
  }
  .list {
    // min-height: 52.8rem;
  }
  .bot {
    margin-top: auto;
    .price {
      margin-top: 3.2rem;
      .line {
        @apply flex justify-between items-center text-label;
        .total {
          font-weight: bold;
          font-size: 2rem;
          line-height: 2.8rem;
        }
      }
    }
  }
}
