@import '../../../../../../styles/utilities';

.editInfoModal {
    .input {
        @apply bg-white;
        margin-bottom: 1.6rem;
        width: 100%;
        border: 2px solid #EBEBEB;
        border-radius: .8rem;
        padding: 1.6rem;
    }

    .inputDisable {
        margin-bottom: 1.6rem;
        width: 100%;
        border: 2px solid #EBEBEB;
        border-radius: .8rem;
        padding: 1.6rem;
        background-color: #EBEBEB;
        color: #CCCCCC;
    }

    .inputStateWrapper {
        @apply bg-white;
        margin-bottom: 1.6rem;
        margin-right: 1.6rem;
        border: 2px solid #EBEBEB;
        border-radius: .8rem;
        padding: 1.6rem;

        .inputState {
            @apply bg-white cursor-pointer;
            border: white;
        }
    }

    .inputPostalCode {
        @apply bg-white;
        margin-bottom: 1.6rem;
        border: 2px solid #EBEBEB;
        border-radius: .8rem;
        padding: 1.6rem;
    }

    .inputPhoneNumber {
        @apply bg-white;
        margin-bottom: 4rem;
        width: 100%;
        border: 2px solid #EBEBEB;
        border-radius: .8rem;
        padding: 1.6rem;
    }

    .buttons {
        @apply flex;

        .buttonCancel {
            @apply bg-white text-center font-bold;
            color: #141414;
            border: 1px solid #141414;
            border-radius: 40% 30% 35% 20%/ 65% 55% 45% 50%;
            padding: 1.6rem;
            margin-right: 1.6rem;
            width: 100%;
            
            &:hover {
                @apply cursor-pointer;
            }
        }

        .buttonSave {
            @apply text-center font-bold;
            background-color: var(--primary);
            color: white;
            border-radius: 40% 30% 35% 20%/ 65% 55% 45% 50%;
            padding: 1.6rem;
            width: 100%;
            &:hover {
                @apply cursor-pointer;
            }
        }
    }
}