@import '../../../../../../styles/utilities';

.editInfoModal {
    .input {
        @apply bg-white;
        margin-bottom: 1.6rem;
        width: 100%;
    }

    .inputDisable {
        margin-bottom: 1.6rem;
        width: 100%;
        color: #CCCCCC;
    }

    .inputState {
        @apply bg-white cursor-pointer;
        border: white;
        margin-right: 0.8rem;
        height: fit-content;
    }

    .inputPostalCode {
        @apply bg-white;
        margin-left: 0.8rem;
    }

    .inputPhoneNumber {
        @apply bg-white;
        margin-bottom: 4rem;
        width: 100%;
        margin-top: 1.6rem;
    }

    .buttons {
        @apply grid grid-cols-2;
        grid-gap: 1.6rem;
    }
}