@import '../../../../../../styles/utilities';

.editInfoModal {
    .input {
        @apply bg-white;
        margin-bottom: 1.6rem;
        width: 100%;
    }

    .inputDisable {
        margin-bottom: 1.6rem;
        width: 100%;
        color: #CCCCCC;
    }

    .inputState {
        @apply bg-white cursor-pointer;
        border: white;
        margin-right: 0.8rem;
    }

    .inputPostalCode {
        @apply bg-white;
        margin-left: 0.8rem;
    }

    .inputPhoneNumber {
        @apply bg-white;
        margin-bottom: 4rem;
        width: 100%;
        margin-top: 1.6rem;
    }

    .buttons {
        @apply flex;

        .buttonCancel {
            @apply bg-white text-center font-bold custom-border-radius-lg;
            color: #141414;
            border: 1px solid #141414;
            padding: 1.6rem;
            margin-right: 1.6rem;
            width: 100%;
            
            &:hover {
                @apply cursor-pointer;
            }
        }

        .buttonSave {
            @apply text-center font-bold custom-border-radius-lg;
            background-color: var(--primary);
            color: white;
            padding: 1.6rem;
            width: 100%;
            &:hover {
                @apply cursor-pointer;
            }
        }
    }
}