@import '../../../../../../styles/utilities';

.idAndStatus {
    @apply items-center;
    padding: 2.4rem 0 2.4rem 1.2rem;

    @screen lg {
        padding: 2.4rem 0 2.4rem 2.4rem;
    }

    .id {
        @apply font-bold;
        margin-bottom: .8rem;
    }

    .deliveryStatus {
        @apply font-bold text-white;
        font-size: 1.2rem;
        line-height: 2rem;
        padding: 0 .8rem;
        border-radius: 0.5rem;
        width: fit-content;

        &.AddingItems {
            background-color: #D9A645;
        }
        &.PaymentAuthorized {
            background-color: var(--info-dark);
        }
        &.PaymentSettled
        {
            background-color: var(--primary);
        }
        &.PartiallyShipped {
            background-color: var(--primary);
        }
        &.Shipped {
            background-color: var(--primary);
        }
        &.PartialDelivery{
            background-color: var(--primary);
        }
        &.Delivered{
            background-color: var(--primary);
        }
        &.Cancelled {
            background-color: var(--negative);
        }
        
    }
}