@import '../../../../styles/utilities';
.colectionCarcoucelWarpper {
  padding-top: 5.6rem;
  padding-bottom: 6.5rem;
  @apply flex flex-col;
  .top {
    @apply spacing-horizontal flex w-full justify-between;
    @screen xl {
      .right {
        margin-right: 2.476rem;
      }
    }
  }
}
