@import '../../../../styles/utilities';
.warpper {
  @apply spacing-horizontal;
  margin-bottom: 5.6rem;
  @screen xl {
    :global(.customArrow) {
      @screen lg {
        &:global(.leftArrow) {
          left: calc(-6.4rem - 2rem);
        }
        &:global(.rightArrow) {
          right: calc(-6.4rem - 2rem);
        }
      }
    }
  }
  .heading{
    padding: 2rem;
  }
}
