.shippingMethodItem {
    @apply w-full flex justify-between items-center cursor-pointer transition-all duration-200;
    padding: 1.6rem;
    &:hover {
        @apply bg-gray;
    }
    .left {
        @apply flex;
        .icon {
            @apply transition-all duration-200;
            opacity: 0;
            &.show {
                opacity: 1;
            }
        }
        .name {
            margin-left: 1.6rem;
            color: var(--text-active);
        }
    }
    .price {
        font-weight: bold;
        color: var(--text-active);
    }
}
