COMMERCE_PROVIDER=commercejs

# Public key for your Commerce.js account
NEXT_PUBLIC_COMMERCEJS_PUBLIC_KEY=pk_test_347743e518b00d8165f453f2b099820ad9fd68a1fda91

# The URL for the current deployment, optional but should be used for production deployments
NEXT_PUBLIC_COMMERCEJS_DEPLOYMENT_URL=
