COMMERCE_PROVIDER=commercejs

# Public key for your Commerce.js account
NEXT_PUBLIC_COMMERCEJS_PUBLIC_KEY=

# The URL for the current deployment, optional but should be used for production deployments
NEXT_PUBLIC_COMMERCEJS_DEPLOYMENT_URL=
