.dateTime{
    color:var(--text-label);
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: 0.01em;
    font-feature-settings: 'salt' on;
    font-family: var(--font-sans);
}