@import '../../../../../../styles/utilities';

.totalPrice {
    margin-left: auto; 
    margin-right: 1.2rem;

    @screen lg {
        margin-right: 2.4rem;
    }

    .price {
        @apply font-bold ;

        @screen md {
            @apply topline
        }
    
        @screen lg {
            @apply sub-headline;
        }
    }
}