.root {
  @apply relative grid items-start gap-1 grid-cols-1 overflow-x-hidden;
}

.main {
  @apply relative px-0 pb-0 box-border  flex flex-col col-span-1;
  min-height: 500px;
}

.nameBox {
  @apply absolute top-0 left-0 z-20 pr-16;
}

.nameBox .name {
  @apply px-6 py-2 bg-primary text-primary font-bold;
  font-size: 1.8rem;
  letter-spacing: 0.4px;
}

.nameBox .price {
  @apply px-6 py-2 pb-4 bg-primary text-primary font-bold inline-block tracking-wide;
}

.sidebar {
  @apply flex flex-col col-span-1 mx-auto max-w-8xl px-6 py-6 w-full h-full;
}

.sliderContainer {
  @apply flex items-center justify-center overflow-x-hidden bg-violet;
}

.imageContainer {
  @apply text-center;
}

.imageContainer > div,
.imageContainer > div > div {
  @apply h-full;
}

.sliderContainer .img {
  @apply w-full h-auto max-h-full object-cover;
}

.button {
  width: 100%;
}

.wishlistButton {
  @apply absolute z-30 top-0 right-0;
}

@screen lg {
  .root {
    @apply grid-cols-12;
    min-height: 900px;
  }

  .main {
    @apply mx-0 col-span-8;
  }

  .nameBox {
    @apply left-0 pr-16;
  }

  .nameBox .name,
  .nameBox .price {
    @apply bg-accent-0 text-accent-9;
  }

  .sidebar {
    @apply col-span-4 py-6;
  }

  .imageContainer {
    max-height: 600px;
  }
}
