@import "../../../../styles/utilities";

.infoProducts {
    @apply flex justify-between items-center spacing-horizontal;

    .top {
        .sub {
            display: none;
        }
    }
    @screen lg {
        max-width: 18.1rem;
        @apply block;
        margin-right: 4rem;
        padding: 0;
        .top {
            margin-bottom: 3.2rem;
            .sub {
                display: block;
                margin-top: 0.4rem;
            }
        }
    }
}
