@import '../../../styles/utilities';

.headingCommon {
  @apply font-heading uppercase text-left spacing-horizontal-left;
  font-size: 3.2rem;
  line-height: 4rem;

  &.highlight {
    color: var(--negative);
  }
  &.light {
    color: var(--disabled);
  }
  &.center {
    @apply text-center;
  }

  @screen md {
    @apply spacing-horizontal;
    font-size: 4.8rem;
    line-height: 5.6rem;
  } 
}
