@import "../../../styles/utilities";

.empty {
    padding: 1.6rem;
    margin: auto;
    .imgWrap {
        min-height: 10rem;
        text-align: center;
        img {
            min-height: 10rem;
        }
    }

    .description {
        color: var(--disabled);
        text-align: center;
        margin-top: 0.8rem;
    }
}
