@import "../../../../styles/_utilities";

.recipesListWrapper {
    @apply spacing-horizontal;
    @screen md{
        padding:0 3.2rem;
        padding-bottom:5.6rem;
    }
    div{
        max-width: 100%;
        max-height: 100%;
    }
    .breadcrumb{
        padding:1rem 0;
    }
    .recipesListPageMain{
        @screen md {
            @apply flex;
        }
        .categories{
            @apply hidden;
            @screen md {
                @apply hidden;
            }
            @screen xl{
                @apply block;
                width:25%;
            }
        }
        .recipesList{
            width: 100%;
            .recipesHead{
                @screen md {
                    @apply flex justify-between flex-wrap w-full;
                    margin: 1rem 0;
                }
                @screen xl {
                    width:100%;
                }
            }
            .inner{
                @screen md {
                    @apply flex flex-col items-center justify-center;
                }
                .boxItem {
                    @apply grid grid-cols-1 gap-8;
                    width:100%;
                    min-height: 37rem;
                    @screen md {
                        @apply grid-cols-2;
                    }
                    @screen lg {
                        @apply grid-cols-3;
                    }
                    .item {
                        @apply pb-16;
                        > div {
                            width: 100%;
                        }
                        img{
                            width: 100%;
                        }
                    }
                }
            }
            .recipesPagination{
                @apply flex justify-center w-full;
                margin: 3rem 0;
                @screen md {
                    @apply flex justify-center ;
                    margin:2rem 0;
                }
            }
            .boxSelect{
                @apply flex justify-between w-full;
                padding: 2.5rem 0;
                div{
                    max-width: 18.6rem;
                }
                @screen xl {
                    @apply block;
                    width: auto;
                    padding:0;
                }
                .categorySelectCate{
                    @screen xl {
                        @apply hidden;
                    }
                }
                label{
                    @apply font-bold topline ;
                    color:var(--text-active);
                    @screen xl {
                        @apply hidden;
                    }
                }
                .select{
                    margin-top: 1rem;
                }
            }
           
        }
      
    }

   
}
