@import "../../../../styles/utilities";

.homeFeature {
    @apply spacing-horizontal-left grid grid-cols-1;
    background-color: #FFFFFF;
    height: fit-content;
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;

    @screen md {
        @apply spacing-horizontal grid-cols-3;
        margin-bottom: 6.4rem;
    }
}