@import '../../../styles/utilities';

.heartToggle{
    cursor: pointer;
    width: 2.4rem;
    height: 2.4rem;
    path{
        stroke: theme("colors.primary");
    }
}
.isToggleOn{
    svg path{
        stroke: theme("colors.primary");
    }
}