
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.newsSliderText {
    font-family: 'Dancing Script', cursive;
}

.newsSliderHeading {
    font-family: 'Dancing Script', cursive !important;
    text-shadow: 2px 2px 4px black;
}