@layer utilities {
    .heading-1 {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -0.01em;
        font-weight: bold;
        text-transform: uppercase;
        @screen md {
            font-size: 64px;
            line-height: 80px;
            letter-spacing: -0.03em;
        }
    }
    .heading-2 {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.02em;
        font-weight: bold;
        text-transform: uppercase;
        @screen md {
            font-size: 48px;
            line-height: 56px;
            letter-spacing: -0.02em;
        }
    }
    .heading-3 {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.01em;
        font-weight: bold;
        text-transform: uppercase;
        @screen md {
            font-size: 32px;
            line-height: 40px;
            letter-spacing: -0.01em;
        }
    }

    .sm-headline {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.01em;
        font-weight: bold;
        @screen md {
            font-size: 20px;
            line-height: 28px;
            letter-spacing: -0.01em;
        }
    }

    .sub-headline {
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.01em;
        @screen md {
            font-size: 24px;
            line-height: 32px;
            letter-spacing: -0.01em;
        }
    }

    .topline {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.01em;
        @screen md {
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 0.01em;
        }
    }

    .caption {
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.01em;
    }

    .sm-label {
        font-size: 10px;
        line-height: 16px;
    }
    
    .spacing-horizontal {
        padding-left: 2rem;
        padding-right: 2rem;
        @screen md {
            padding-left: 6.4rem;
            padding-right: 6.4rem;
        }
        @screen lg {
            padding-left: 11.2rem;
            padding-right: 11.2rem;
        }
    }
    .spacing-horizontal-left {
        padding-left: 2rem;
        @screen md {
            padding-left: 6.4rem;
            padding-right: 6.4rem;
        }
        @screen lg {
            padding-left: 11.2rem;
            padding-right: 11.2rem;
        }
    }
    .custom-border-radius {
        border-radius: 60% 10% 60% 2%/ 10% 20% 10% 50%;
    }

    .custom-border-radius-lg {
        border-radius: 60% 2% 2% 2%/ 6% 50% 50% 50%;
    }

    .font-heading {
        font-family: var(--font-heading);
    }

    .font-logo {
        font-family: var(--font-logo);
    }
}
