@import "../../../../styles/utilities";
.accountSignInWrapper{
        padding: 5rem;
        @apply w-full;
        .imgError{
            @apply w-full flex justify-center;
        }
        .text{
            @apply sub-headline;
             color:var(--text-placeholder);
             text-align: center;
             margin-top: 3.6rem;
        }
        .btn{
           @apply flex justify-center;
            margin: 2.6rem auto;
            button{
                div{
                    padding: 1.6rem 7rem;
                }
            }
        }
        .dontHaveAccount{
            @apply flex justify-center font-bold;
            div{
                color:var(--text-active);
            }
            span{
                color:var(--primary);
            }
        }
  
}