@import '../../../../../../styles/utilities';

.tabPane {
    @apply hidden;
    animation-duration: 0.6s;
    animation-name: appear;
    @keyframes appear {
        from {
            margin-left: 100%;
            width: 200%;
        }
        
        to {
            margin-left: 0%;
            width: 100%;
        }
    }
    

    &.active {
        @apply block;
    }
}