@import "../../../../styles/utilities";

.wrapper {
    @apply flex flex-col spacing-horizontal items-center;
    padding-bottom: 16.8rem;
    .list {
        @apply grid grid-cols-3;
        max-width: 121.6rem;
    }
    .card {
        @apply pr-8 pb-16;
    }
    .pagination {
        @apply flex justify-center items-center ;
        padding-top: 0.8rem;
    }
}