@import "../../../../styles/utilities";

.wrapper{
    @apply flex flex-col spacing-horizontal items-center;
    padding-bottom: 16.8rem;
    .list{
        @apply flex flex-wrap justify-between;
        max-width: 121.6rem;
    }
    .card{
        padding-bottom: 4rem;
    }
    .pagination{
        padding-top: 0.8rem;
        @apply flex justify-center items-center ;
    }
}