@import "../../../../styles/utilities";

.wrapper {
    @apply flex justify-center pt-20 pb-28 spacing-horizontal;
    .deliveryAndPolicyContentWrapper {
        max-width: 80.4rem;
        min-height: 4rem;
        .titleWrapper {
            @apply flex flex-col items-start;
            .date {
                @apply inline flex flex-row;
                margin-bottom: 0.4rem;
                .update {
                    @apply uppercase leading-8;
                    color:var(--text-label);
                    font-size: 1.2rem;
                    letter-spacing: 0.01em;
                }
            }
        }
        .content {
            @apply pb-16;
            padding-top: 1.6rem;
        }
    }
}
