@import "../../../../styles/utilities";

.collapseWrapper {
    @apply border-t border-b;
    border-color: var(--border-line);
    max-width: 80.4rem;
    min-height: 4rem;
    &.isActive {
        .title {
            @apply pb-0;
        }
        .contentContainer {
            @apply block;
            animation: ContentAnimationIn 0.5s ease-out;
        }
        .toggle {
            &:before {
                transform: rotate(180deg);
            }
            &:after {
                transform: rotate(180deg);
            }
        }
    }
    &:hover {
        cursor: pointer;
    }
}
.title {
    @apply outline-none flex justify-between font-heading items-center pt-16 pb-16;
    font-size: 3.2rem;
    line-height: 4rem;
    letter-spacing: -0.01em;
    .toggle {
        height: 2.2rem;
        width: 2.2rem;
        position: relative;
        &:before,
        &:after {
            @apply absolute h-2;
            content: "";
            border-radius: 0.8rem;
            background: var(--text-active);
            top: 40%;
            width: 2.2rem;
            transition: transform 500ms ease;
        }
        &:before {
            transform-origin: center;
            transform: rotate(90deg);
        }
    }
}
.contentContainer {
    @apply hidden pb-16 whitespace-pre-line;
    padding-top: 1.6rem;
}
@keyframes ContentAnimationIn {
    0% {
        opacity: 0;
        transform: translateY(-1.6rem);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}