@import "../../../styles/utilities";

.header {
  @apply sticky bg-white;
  top: 0;
  left: 0;
  z-index: 9999;
  margin-bottom: 3.2rem;

  &.full {
    @apply shadow-none;
  }
  .menu {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
  .logo {
    @apply font-logo;
  }

  @screen md {
    @apply relative;
    &.full {
      border: 1px solid var(--border-line);
    }
    .menu {
      @apply shadow-none;
    }
  }
}

.headerSticky {
  @apply sticky bg-white shadow-md;
  display: none;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  top: 0;
  left: 0;
  z-index: 10000;
  transition: all 0.2s;
  &.show {
    display: block;
    animation: showHeaderSticky 0.2s;
  }
}

@keyframes showHeaderSticky {
  0% {
    transform: translateY(-1.6rem)
  }
  100% {
    transform: none;
  }
}
