@import "../../../styles/utilities";

.header {
  @apply sticky bg-white shadow-md;
  top: 0;
  z-index: 9999;
  &.full {
    @apply shadow-none;
  }
  .menu {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
}
