@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLIDER SLIDER */
.glider {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.glider::-webkit-scrollbar {
  display: none;
}

.glider-dots {
  @apply !mt-8 flex !space-x-[2px];
}

.glider-dot {
  @apply !m-0 !h-4 !w-12 !rounded-none !bg-transparent after:block after:h-[3px] after:w-12 after:bg-ui-border after:content-[''] 2xl:!w-16 2xl:after:w-16;
}

.glider-dot.active {
  @apply after:!bg-high-contrast;
}

.glider-prev {
  @apply !-top-10 !left-auto !right-12 text-high-contrast !transition-transform !duration-100 hover:scale-110 hover:!text-high-contrast lg:!-top-12 lg:!right-16 2xl:!right-[100px];
}

.glider-next {
  @apply !-top-10 !right-4 text-high-contrast !transition-transform !duration-100 hover:scale-110 hover:!text-high-contrast lg:!-top-12 lg:!right-8 2xl:!right-16;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
  }

  ::-moz-selection {
    /* Code for Firefox */
    color: #ffffff;
    background: #333333;
  }

  ::selection {
    color: #ffffff;
    background: #333333;
  }

  html,
  body {
    @apply h-full bg-background text-foreground;

    box-sizing: border-box;
    touch-action: manipulation;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior-x: none;
  }
}

@layer components {
  /* DYNAMIC CONTENT MANAGER */
  .dynamic-content > :not(.hero) {
    @apply my-12 md:my-16 lg:my-24;
  }

  .dynamic-content > :first-child {
    @apply mt-0 md:mt-0 lg:mt-0;
  }

  .dynamic-content > :last-child {
    @apply mb-12 md:mb-16 lg:mb-24;
  }

  .dynamic-content .dynamic-content {
    @apply px-0 md:px-0;
  }

  .dynamic-content .dynamic-content > {
    @apply my-0 md:my-0 lg:my-0;
  }

  .dynamic-content .dynamic-content > :last-child {
    @apply my-0 md:my-0 lg:my-0;
  }
}
