/* Glider slider. */
.glider {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.glider::-webkit-scrollbar {
  display: none;
}

.glider-dots {
  @apply flex !space-x-[2px] !mt-8;
}

.glider-dot {
  @apply !m-0 !rounded-none !w-12 !h-4 !bg-transparent after:content-[''] after:block after:w-12 after:h-[3px] after:bg-ui-border 2xl:!w-16 2xl:after:w-16;
}

.glider-dot.active {
  @apply after:!bg-high-contrast;
}

.glider-prev {
  @apply text-high-contrast !right-12 !-top-10 !left-auto lg:!right-16 lg:!-top-12 2xl:!-top-16 2xl:!right-[100px] !transition-transform !duration-100 hover:!text-high-contrast hover:scale-110;
}

.glider-next {
  @apply text-high-contrast !right-4 !-top-10 lg:!right-8 lg:!-top-12 2xl:!-top-16 2xl:!right-16 !transition-transform !duration-100 hover:!text-high-contrast hover:scale-110;
}

.pdp .glider-prev {
  @apply text-high-contrast absolute !left-4 !top-1/2 !transition-transform !duration-100 hover:!text-high-contrast hover:scale-100 lg:hidden;
}

.pdp .glider-next {
  @apply text-high-contrast absolute !right-4 !top-1/2 !transition-transform !duration-100 hover:!text-high-contrast hover:scale-100 lg:hidden;
}