.root {
  @apply relative w-full h-full;
  overflow-y: hidden;

  & > div {
    overflow: visible !important;
  }
}

.rootPanel {
  @apply absolute flex flex-row inset-0 z-20 m-20;
}

.leftPanel {
  @apply flex-1;
  cursor: url('/cursor-left.png'), auto;
}

.rightPanel {
  @apply flex-1;
  cursor: url('/cursor-right.png'), auto;
}
