@import '../../../../../../styles/utilities';

.orderInformation {
    .title {
        @apply heading-3 font-heading;
        margin-top: 1.6rem;
    }

    .tabs {
        margin-top: 3.2rem;
    }

    .tabPanes {
        margin-top: 2.4rem;
    }
}