.warpper{
    @apply w-full;
    padding: 3.2rem;
    .title{
        margin-bottom: 3.2rem;
        @apply flex justify-between items-center;
        .viewCart{
            margin-right: 5.6rem;
            @apply text-primary font-bold;
            display: block;
            cursor: pointer;
            @screen lg {
                display: none;
            }
        }
    }
}