@import "../../../styles/utilities";

.formUserInfo {
    @apply u-form;
    .inner {
        @screen md {
            width: 60rem;
            margin: auto;
        }
        .bottom {
            @apply grid grid-cols-2;
            margin-top: 4rem;
            grid-gap: 1.6rem;
            > button {
                @apply w-full;
            }
        }
    }
}
