@import './font.css';

:root {
  --primary: white;
  --primary-2: #f1f3f5;
  --secondary: black;
  --secondary-2: #111;

  --selection: var(--cyan);

  --text-base: black;
  --text-primary: black;
  --text-secondary: white;

  --hover: rgba(0, 0, 0, 0.075);

  --cyan: #50e3c2;
  --purple: #f81ce5;
  --violet: #7928ca;
  --pink: #ff0080;
  --blue: #0070f3;
  --green: #37b679;
  --red: #da3c3c;

  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #999999;
  --accents-4: #888888;
  --accents-5: #666666;
  --accents-6: #444444;
  --accents-7: #333333;
  --accents-8: #111111;
}

[data-theme='dark'] {
  --primary: black;
  --primary-2: #111;
  --secondary: white;
  --secondary-2: #f1f3f5;
  --hover: rgba(255, 255, 255, 0.075);
  --selection: var(--purple);

  --text-base: white;
  --text-primary: white;
  --text-secondary: black;

  --accents-1: #111111;
  --accents-2: #333333;
  --accents-3: #444444;
  --accents-4: #666666;
  --accents-5: #888888;
  --accents-6: #999999;
  --accents-7: #eaeaea;
  --accents-8: #fafafa;
}

.fit {
  min-height: calc(100vh - 300px);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
