@import "../../../../../styles/utilities";

.footerColumn {
    width: 50%;
    margin-bottom: 4rem;
    @screen md {
        padding-right: 6.4rem;
        width: unset;
        margin-bottom: 0;
    }

    @screen lg {
        padding-right: 12.8rem;
    }
    .title {
        @apply sm-headline text-active;
        margin-bottom: 2.4rem;
    }
    ul {
        list-style: none;
        li {
            &:not(:last-child) {
                margin-bottom: 1.6rem;
            }
            a {
                text-decoration: none;
                @apply transition-all duration-200;
                &:hover {
                    color: var(--primary);
                }
            }
        }
    }
}
