@import '../../../../styles/utilities';
.formAuthen{
    width: 50%;
    margin: 0 auto;
    padding: 4rem 0 ;    
    .title{
        @apply font-heading heading-3;
        padding: 0 1.6rem 0 0.8rem;
        margin-bottom: 2rem;
    }
    .passwordNote {
        @apply text-center caption text-label;
        margin-top: 0.8rem;
    }
    .bottom {
        @apply flex justify-center items-center;
        margin: 4rem auto;
        .remembered {
            @apply font-bold cursor-pointer;
            color: var(--primary);
        }
    }
    .confirmPassword{
        margin-top: 2rem;
    }

}
