@import "../../../../styles/utilities";

.featuredCard {
    @apply flex flex-row justify-center spacing-horizontal pb-16;
    .featuredCardWrapper {
        @apply flex flex-col;
        @screen lg {
            @apply flex-row justify-between;
        }
        max-width: 121.6rem;
    }
}
.left {
    max-width: 59.8rem;
    img {
        border-radius: 2.4rem;
    }
}
.right {
    flex-shrink: 3;
    @screen lg {
        margin-left: 6.4rem;
    }
}
.titleWrapper {
    @apply flex flex-col items-start font-heading heading-3;
    margin-bottom: 1.6rem;
    .title {
        margin-top: 0.4rem;
    }
}
.content {
    margin-top: 1.6rem
}