@import "../../../../styles/utilities";

.featuredCard{
    @apply flex flex-row justify-center spacing-horizontal;
    .featuredCardWrapper{
        @apply flex flex-row justify-between;
        max-width: 121.6rem;
    }
}
.left{
    max-width: 59.8rem;
    min-height: 33.6rem;
}
.right{
    margin-left: 6.4rem;
    max-width: 55.4rem;
    min-height: 16.8rem;
}
.titleWrapper{
    @apply flex flex-col items-start font-heading;
    font-size: 3.2rem;
    line-height: 4rem;
    margin-bottom: 1.6rem;
    .title{
        margin-top: 0.4rem;
    }
}
.content{
    margin-top: 1.6rem
}