@import "../../../../../styles/utilities";

.cartRecommendation {
    @apply w-full bg-background-gray;
    padding-bottom: 5.4rem;
    .top {
        @apply flex justify-between items-center;
        padding: 1.6rem;
        .heading {
            @apply font-bold text-active sm-headline;
        }
    }
    .productCardWarpper {
        padding-left: 1.6rem;
        :global(.customArrow) {
            @apply bg-line shadow-md;
            opacity: 0.8;
            &:global(.rightArrow) {
                right: 1rem;
            }
        }
    }
}
