@import "../../../../styles/utilities";

.verifyCustomerAccount {
    @apply spacing-horizontal;
    min-height: 25rem;
    margin: 5rem auto 10rem;
    display: flex;
    justify-content: center;

    .result {
        @apply flex flex-col justify-center items-center;
        .message {
            margin-bottom: 1.6rem;
        }
        .bottom {
            @apply flex justify-center items-center flex-col;
            a {
                margin-right: 1.6rem;
                margin-bottom: 1.6rem;
                width: 100%;
            }
            button {
                @apply w-full;
            }
        }
    }
}
