@import "../../../styles/form";

.inputWrap {
  @extend .formInputWrap;
  .inputInner {
    select {
      @apply w-full;
      background-color: var(--white);
      padding: 1.6rem 1.6rem;
      border: 1px solid var(--border-line);
      border-radius: 0.8rem;

      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;

      background-image: linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%);
      background-position: calc(100% - 19px) calc(1em + 8px), calc(100% - 15px) calc(1em + 8px);
      background-size: 5px 5px, 5px 5px, 1px 1.5em;
      background-repeat: no-repeat;

      &:focus {
        outline: none;
        border: 1px solid var(--primary);
        @apply shadow-md;

        background-image: linear-gradient(45deg, gray 50%, transparent 50%),
          linear-gradient(135deg, transparent 50%, gray 50%);
        background-position: calc(100% - 15px) calc(1em + 8px), calc(100% - 19px) calc(1em + 8px);
        background-size: 5px 5px, 5px 5px, 1px 1.5em;
        background-repeat: no-repeat;
      }
    }
  }
}
