  
@import '../../../styles/utilities';
.tabWapper{
    @apply flex flex-col w-full;
    .tabHeader{
        @apply flex overflow-auto;
        @screen md {
            @apply flex overflow-visible;
        }
        .tabList {
            @apply flex;
            position: relative;
            border-bottom: 2px solid #EBEBEB;
            padding: 0.8rem 0;
            &.center{
                margin: auto;
            }
        
            .slider {
                @apply inline-block;
                height: .2rem;
                border-radius: 3px;
                background-color: var(--primary);
                position: absolute;
                z-index: 1200;
                bottom: 0;
                transition: all .25s linear;
            }
        }
    }
}
