@import '../../../styles/utilities';

.tabCommonOutSide {
    @apply spacing-horizontal;
    
    .tabCommon {
        @apply flex;
        position: relative;
        border-bottom: 2px solid #FBFBFB;
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
        width: 100%;
    }
}

