@import "../../../../styles/_utilities";

.warpper {
    @apply spacing-horizontal;
    @screen md{
        padding:0 3.2rem;
        padding-bottom:5.6rem;
    }
    .breadcrumb{
        padding:1rem 0;
    }
    .main{
        @screen md {
            @apply flex;
        }
        .list{
            @apply w-full;
            .top {
                .left {
                    @apply flex justify-between items-center;
                }
                
                .iconFilter {
                    @apply relative;
                    &:focus {
                        outline: none;
                        filter: brightness(1.05);
                    }
                    &:focus-visible {
                        outline: 2px solid var(--text-active);
                    }
                    .dot {
                        @apply absolute;
                        top: -0.08rem;
                        right: -0.2rem;
                        background-color: var(--negative);
                        width: 1.2rem;
                        height: 1.2rem;
                        border-radius: 1.2rem;
                    }
                }
                @screen md {
                    @apply flex justify-between flex-wrap w-full;
                    margin-bottom: 1rem;
                    .iconFilter {
                        @apply hidden;
                    }
                }
            }
            
            .boxSelect{
                @apply w-auto;
                display: none;
                
                @screen md {
                    @apply block;
                    width: auto;
                    padding:0;
                    margin-top: 1rem;
                }
                
                label {
                    @apply font-bold topline ;
                    color:var(--text-active);
                    @screen xl {
                        @apply hidden;
                    }
                }
            }
           
        }
      
    }

   
}
