@import "../../../../styles/_utilities";

.warpper {
    @apply spacing-horizontal;
    @screen md{
        padding:0 3.2rem;
        padding-bottom:5.6rem;
    }
    .breadcrumb{
        padding:1rem 0;
    }
    .main{
        @screen md {
            @apply flex;
        }
        .list{
            @apply w-full;
            .top {
                @screen md {
                    @apply flex justify-between flex-wrap w-full;
                    margin: 1rem 0;
                }
            }
            .inner{
                @screen md {
                    @apply flex flex-col items-center justify-center;
                }
                .boxItem {
                    @screen md {
                        @apply flex justify-between flex-wrap;
                        margin: 1rem 0;
                    }
                    .item {
                        @screen md {
                            width: calc(97% / 2);
                            margin-top:1rem;
                        }
                        @screen lg{
                            width: calc(97% / 3);
                            margin-top:1rem;
                        }
                    }
                }
            }
            
            .boxSelect{
                @apply w-auto;
                display: none;
                
                @screen md {
                    @apply block;
                    width: auto;
                    padding:0;
                    margin-top: 1rem;
                }
                
                label {
                    @apply font-bold topline ;
                    color:var(--text-active);
                    @screen xl {
                        @apply hidden;
                    }
                }
            }
           
        }
      
    }

   
}
