@import "../../../../../styles/utilities";

.recipeDetailInfo {
    @apply spacing-horizontal;
    margin: 0 auto 5.6rem;
    @screen md {
        @apply flex justify-center;
        margin: 5.6rem auto;
    }

    .img {
        width: 100%;
        margin-top: 0;
        min-height: 50rem;

        @screen sm-only {
            margin-bottom: 2rem;
        }
        @screen md {
            max-width: 50%;
        }
        @screen lg {
            max-width: 60rem;
        }
         div {
            min-height: 64rem;
            img {
                // object-fit: contain;
            //     @apply w-full;
                min-height: 64rem;
                border-radius: 2.4rem;
            //     @screen md {
            //         max-height: 90rem;
            //     }
            }
            // ul {
            //     border-radius: 2.4rem;
            // }
        }
    }

    .recipeInfo {
        @screen md {
            max-width: 39rem;
            margin-left: 4.8rem;
        }
        @screen lg {
            margin-left: 11.2rem;
        }
        .top {
            margin-bottom: 4.8rem;
            .name {
                @apply heading-1 font-heading;
                margin-bottom: 1.6rem;
            }
        }
        .detail {
            .item {
                &:not(:last-child) {
                    margin-bottom: 2.4rem;
                }
                .heading {
                    @apply heading-3 font-heading;
                    margin-bottom: 0.8rem;
                }
                .content {
                    list-style: disc;
                    margin-left: 2rem;
                }
                a {
                    color: var(--info);
                }
            }
        }
    }
}
