@import "../../../../../styles/utilities";

.recipeDetailInfo {
    @apply spacing-horizontal;
    margin: 0 auto 5.6rem;
    @screen xl {
        @apply flex justify-center;
        margin: 5.6rem auto;
    }

    .img {
        width: 100%;
        margin-top: 0;
        min-height: 50rem;
        margin:2rem 0;
        @screen sm-only {
            margin-bottom: 2rem;
        }
        @screen md {
            max-width: 100%;
        }
        @screen lg {
            max-width:  100%;
        }
        @screen xl{
            max-width: 60rem;
        }
        div {
            min-height: 64rem;
            img {
                min-height: 64rem;
                border-radius: 2.4rem;
            }
            ul {
                margin-bottom: 2rem !important;
            }
            // @screen md{
            //     ul {
            //         width: 100%;
            //     }
            // }
         
            div{
                padding-bottom: 3.5rem;
            }
        }
    }

    .recipeInfo {
        @screen md {
            max-width:100%;
            // margin-left: 4.8rem;
        }
        @screen xl {
            margin-left: 11.2rem;
        }
        .top {
            margin-bottom: 4.8rem;
            .name {
                @apply heading-1 font-heading;
                margin-bottom: 1.6rem;
            }
        }
        .detail {
            .content {
                h1 {
                    @apply heading-2;
                }
                h2 {
                    @apply heading-3;
                }
                h3 {
                    @apply heading-3;
                }

                h1,
                h2,
                h3,
                h4 {
                    color: var(--text-base);
                    font-family: var(--font-heading);
                    margin-bottom: 0.8rem;
                }
                ul {
                    list-style: disc;
                    margin-left: 2.4rem;
                    margin-bottom: 1.6rem;
                }
                a {
                    color: var(--info);
                }
            }
        }
    }
}
