@import "../../../../../styles/utilities";

.headerMenu {
    @apply flex justify-between items-center bg-white;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    .left {
        @apply flex items-center;
        .inputSearch {
            margin-left: 4.8rem;
            //todo: remove
            border: 1px solid red;
            @screen lg {
                min-width: 51.2rem;
                max-width: 50%;
            }
        }
    }
    .menu {
        @apply flex items-center list-none;
        li {
            @apply flex justify-center items-center w-full;
            &:not(:last-child) {
                margin-right: 4.8rem;
                @screen lg {
                    margin-right: 6.4rem;
                }
            }
            a {
                @appy no-underline;
            }
        }
    }
}
