@import "../../../../../styles/utilities";

.headerMenu {
    @apply hidden;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    &.full {
        @apply flex;
        padding-top: 1.6rem;
        @screen md {
            padding-top: 0.8rem;
        }
    }
    &.small {
        @apply flex;
        .left {
            .top {
                display: none;
                @screen md {
                    display: flex;
                }
            }
        }
    }
    @screen md {
        @apply flex justify-between items-center;
    }
    .left {
        // margin-bottom: 3.2rem;
        flex: 1;
        .top {
            @apply flex justify-between items-center;
            margin-bottom: 2rem;
            @screen md {
                margin-bottom: 0;
            }
            .iconGroup {
                @apply flex justify-between items-center;
            }
            .iconCart {
                margin-left: 1.6rem;
            }
            .iconFilter {
                @apply relative;
                .dot {
                    @apply absolute;
                    top: -0.08rem;
                    right: -0.2rem;
                    background-color: var(--negative);
                    width: 1.2rem;
                    height: 1.2rem;
                    border-radius: 1.2rem;
                }
                @screen md {
                    display: none;
                }
            }
        }
        .searchWrap {
            @apply flex items-center;
            .inputSearch {
                flex: 1;
            }
            .buttonSearch {
                margin-left: 1rem;
            }
            @screen md {
                margin: 0 1.6rem 0 4.8rem;
            }
            @screen lg {
                min-width: 51.2rem;
                max-width: 50%;
                .buttonSearch {
                    @apply hidden;
                }
            }
        }
        @screen md {
            @apply flex items-center;
            .top {
                .iconCart {
                    @apply hidden;
                }
            }
        }
    }
    .btnCart {
        all: unset;
        cursor: pointer;
        &:focus-visible {
            outline: 2px solid #000;
        }
        &:hover {
            svg path {
                fill: var(--primary);
                opacity: 0.8;
            }
        }
    }
    .menu {
        @apply hidden;
        @screen md {
            @apply flex items-center list-none;
            > li {
                @apply flex justify-center items-center w-full;
                &:not(:last-child) {
                    margin-right: 4.8rem;
                    @screen lg {
                        margin-right: 6.4rem;
                    }
                }
                a {
                    @appy no-underline;
                    &:hover {
                        opacity: 0.8;
                    }
                    &.iconFavourite {
                        svg path {
                            fill: var(--negative);
                        }
                    }
                }
            }
        }
        @screen xl {
            .iconFilterDesk {
                display: none;
            }
        }
    }
}
