@import "../../../../styles/utilities";

.emptyPage {
    @apply flex justify-center items-center flex-col;
    .emptyIcon {
        padding-bottom: 2.6rem;
    }
    .emptyContent {
        @apply sub-headline;
        align-content: center;
        color: var(--disabled);
    }
}