@import "../../../../styles/utilities";

.emptyPage {
    @apply flex justify-center items-center flex-col;
    .emptyIcon {
        padding-bottom: 2.6rem;
    }
    .emptyContent {
        font-size: 2.4rem;
        line-height: 3.2rem;
        letter-spacing: -0.01em;
        align-content: center;
        color: var(--disabled);
    }
}