@import "../../../../../../styles/utilities";

.homeFeatureItem {
    @apply flex items-center justify-center;
    margin-right: 0.8rem;
    height: 100%;

    .itemImg {
        margin-right: 2.4rem;
        max-width: 12rem;
        min-width: 8rem;
    }

    .itemText {
        max-width: 28rem;
        min-width: none;
    }
}
