@import "../../../../../../styles/utilities";

.homeFeatureItem {
    @apply flex items-center;
    width: fit-content;
    margin: auto;

    @screen md {
        @apply flex flex-col items-center justify-between;
    }

    @screen lg {
        @apply flex flex-row;
    }

    .itemImg {
        @apply flex float-left clear-both;
        margin-right: 2.4rem;
        align-items: center;
        &.firstImg {
            margin-top: 1rem;
            content: url("../../assets/10h30-11h-desktop.png");
        }
        &.secondImg {
            margin-top: 1rem;
            content: url("../../assets/8h-desktop.png");
        }
        &.thirdImg {
            margin-top: 1rem;
            content: url("../../assets/green-desktop.png");
        }

        @screen md {
            @apply flex flex-col justify-center items-center;
            margin: auto;
            margin-top: 0.8rem;
        }

        @screen lg {
            @apply flex float-left clear-both;
            margin-right: 2.4rem;
            margin-top: 0;
        }
    }

    .itemText {
        max-width: 28rem;
        min-width: 12rem;
        @screen md {
            @apply text-center;
        }
        @screen lg {
            @apply text-left;
        }
    }
}
