@import '../../../../../styles/utilities';

.tabItem {
    margin-right:2.4rem;
    padding: 0.8rem 0;
    min-width: 2.4rem;
    &:hover {
        @apply cursor-pointer;
    }
    &.tabItemActive {
        @apply font-bold;
    }
}
