@import '../../../../styles/utilities';

.accountNavigation {
    @apply relative;
    width: 100%;

    @screen md {
        @apply flex;
        width: 100%;
    }

    .slider {
        @apply hidden; 
        
        @screen md {
            @apply inline-block;
            width: 0.2rem;
            height: 4.8rem;
            border-radius: 3px;
            background-color: var(--primary);
            position: absolute;
            left: 0;
            top: 450;
            transition: all .2s linear;
        }
    }
    
    .tabList {
        @apply flex;
        
        @screen md {
            @apply block;
            margin-right: 0rem;
        }

        @screen lg {
            @apply block;
            margin-right: 4.8rem;
        }

        @screen xl {
            @apply block;
            margin-right: 8.4rem;
        }
    }

    .tabBody {
        width: 100%;

        @screen md {
            margin-top: -8.6rem;
        }
    }
}