@import "../../../../../../styles/utilities";

.productInfo {
    @screen md {
        max-width: 39rem;
        margin-left: 4.8rem;
    }
    @screen lg {
        margin-left: 11.2rem;
    }
    .info {
        margin-bottom: 3.2rem;
        .heading {
            @apply heading-2 font-heading;
            margin-top: 0.8rem;
        }
        .price {
            margin-top: 0.8rem;
            .old {
                margin-bottom: 0.8rem;
                .number {
                    margin-right: 0.8rem;
                    color: var(--text-label);
                    text-decoration: line-through;
                }
            }
            .current {
                @apply text-active font-bold sm-headline;
            }
        }
        .description {
            margin-top: 0.8rem;
        }
    }
    .actions {
        @screen sm-only {
            @apply fixed flex justify-between items-center bg-white w-full;
            z-index: 10000;
            bottom: 0;
            left: 0;
            padding: 2rem;
        }
    }
    .bottom {
        @screen sm-only {
            @apply flex justify-between items-center flex-row-reverse;
            margin-left: 1rem;
            flex: 1;
            button {
                &:first-child {
                    min-width: 13rem;
                }
                &:nth-child(n + 1) {
                    margin-left: 0.8rem;
                }
            }
        }
        .buttonWithIcon {
            @apply flex items-center;
            .label {
                @apply hidden;
                @screen md {
                    @apply inline-block;
                    margin-left: 0.8rem;
                }
            }
            svg path {
                fill: currentColor;
            }
        }
        button {
            @apply w-full;
        }

        @screen md {
            margin-top: 2.4rem;
            button {
                &:first-child {
                    margin-bottom: 0.8rem;
                }
            }
        }
    }
}
