.root {
  @apply bg-primary py-2 px-6 w-full appearance-none transition duration-150 ease-in-out pr-10 border border-accents-3 text-accents-6;
}

.root:focus {
  @apply outline-none shadow-outline-gray;
}
