@import "../../../styles/utilities";
.recipeCardWarpper{
    max-width: 39.2rem;
    width: 100%;
    @apply inline-flex flex-col justify-start;
    .image{ 
        user-select: none;
        width: 100%;      
        border-radius: 2.4rem;
        &:hover {
            cursor: pointer;
        }
        img{
            border-radius: 2.4rem;
            object-fit: contain;
        }
        > div{
            min-height: 22rem;
        }
    }
    .title{
        padding: 1.6rem 0.8rem 0.4rem 0.8rem;
        @apply font-bold overflow-hidden overflow-ellipsis ;
        font-size: 2rem;
        line-height: 2.8rem;
        letter-spacing: -0.01em;
        color: var(--text-active);
         display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
        &:hover{
            cursor: pointer;
        }
    }
    .description{
        padding: 0 0.8rem;
        @apply overflow-hidden overflow-ellipsis ;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
        margin-bottom: 3rem;
        @screen md{
            margin-bottom: 0;
        }
    }
}