@import "../../../../../styles/_utilities";

.categoryItem {
    .categoryItemImage {
        width: 10.6rem;
        margin: 0 auto;
        max-height: 14rem;
        object-fit: cover;
        cursor: pointer;
        @screen md {
            width: 100%;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
    .categoryItemText {
        @apply sub-headline;
        text-align: center;
        font-feature-settings: "salt" on;
        cursor: pointer;
    }
}