@import '../../../../../styles/utilities';

$base-color: #8F8F8F;
$shine-color: #ebebeb;
$animation-duration: 1.6s;

@mixin background-gradient {
  background-image: linear-gradient(90deg, $base-color 0px, $shine-color 40px, $base-color 80px) ;
  background-size: 600px;
}

.skeletonTitle {
    &.active {
        @include background-gradient;
        animation: shine-lines $animation-duration infinite linear;
    }
}

@keyframes shine-lines {
    0% {
      background-position: -100px;
    }
    40%, 100% {
        background-position: 50rem;
    }    
}

