@import '../../../../../../styles/utilities';

.accountInfomation {
    @apply flex justify-center items-center;
    text-align: center;
    margin-top: 1.6rem;
    
    @screen md {
        @apply block;
        text-align: left;
        margin-top: 0;
    }

    .avatar {
        height: 22rem;
        width: 22rem;
        border-radius: 50%;
        margin: auto;
        margin-bottom: 4rem;
        

        @screen md {
            margin-left: 0
        }
    }

    .accountName {
        @apply heading-3 font-heading;
    }

    .horizontalSeparator{
        border: 1px solid var(--disabled);
        max-width: 39.2rem;
        min-width: 30rem;
        margin-top: 2.4rem;
        margin-bottom: 2.4rem;
    }

    .shippingInfo {
        @apply heading-3 font-heading;
    }

    .accountAddress {
        max-width: 31rem;
        min-width: none;
    }

    .editInfoBtn {
        @apply text-center font-bold custom-border-radius;
        margin: auto;
        margin-top: 2.4rem;
        margin-bottom: 2.4rem;
        padding: .8rem 1.6rem;
        color: #141414;
        border: 1px solid #141414;
        max-width: 8.8rem;

        &:hover {
            @apply cursor-pointer;
            background-color: #FBFBFB;
        }

        @screen md {
            margin-left: 0;
        }
    }
}