@import '../../../../../../styles/utilities';

.accountInfomation {
    @apply block text-center;
    margin-top: 1.6rem;
    
    @screen md {
        @apply text-left;
        margin-top: 0;
    }

    .avatar {
        height: 22rem;
        width: 22rem;
        border-radius: 50%;
        margin: auto;
        margin-bottom: 4rem;
        
        @screen md {
            margin-left: 0
        }
    }

    .accountName {
        @apply heading-3 font-heading;
    }

    .horizontalSeparator{
        border: 1px solid var(--disabled);
        max-width: 39.2rem;
        min-width: 30rem;
        margin: auto;
        margin-top: 2.4rem;
        margin-bottom: 2.4rem;

        @screen md {
            margin-left: 0;
        }
    }

    .shippingInfo {
        @apply heading-3 font-heading;
        margin-bottom: .8rem;
    }

    .accountAddress {
        margin: auto;
        max-width: 28rem;

        @screen md {
            max-width: 31rem;
            min-width: none;
            margin-left: 0;
        }
    }

    .editInfoBtn {
        @apply flex items-center justify-center;
        margin-top: 2.4rem;
        margin-bottom: 2.4rem;

        button div {
            background-color: #F5F4F2 !important;
        }

        @screen md {
            @apply block;
        }
    }
}