@import '../../../styles/utilities';

.viewAll{
    display: flex;
    color: theme("colors.primary");
    .conTent{
        margin: 0.8rem 0.8rem 0.8rem 1.6rem;
        font-family: var(--font-sans);
        font-weight: bold;
    }
    .vecTor{
        margin: 0.8rem 0rem 0.8rem 0rem;
        svg path{
            fill: theme("colors.primary");
        }
    }
}


