html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
  font-weight: 400;
}

h2 {
  margin: 0;
  font-weight: 400;
}

h3 {
  margin: 0;
  font-weight: 400;
}

h4 {
  margin: 0;
}

h5 {
  margin: 0;
}

h6 {
  margin: 0;
}

btn {
  padding: 10px 30px;
  color: white;
  background: black;
  width: fit-content;
  height: auto;
  border-radius: 20px;
  text-align: center;
  transition: 0.3s;
}

btn:hover {
  background: rgb(78, 78, 78);
}