@import '../../../../../../styles/utilities';

.reOrder {
    @apply text-white custom-border-radius hidden font-bold;
    padding: .8rem 1.2rem;
    margin-right: 2.4rem;
    background-color: var(--primary);

    &.show {
        @apply block;
    }

    &:hover {
        @apply cursor-pointer;
    }

}