@import '../../../styles/utilities';

.wrapper {
    @apply text-center;

    .loadingCommon {
        @apply bg-white;
        height: 7rem;
        width: 7rem;
        animation: spin 2s linear infinite;
        margin: auto;
        background: url('./assets/carrot.png') top 50% left 50% no-repeat;
    }

    .text {
        @apply font-bold;
        color: var(--primary);
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}