.shippingMethod {
    @apply relative;
    .method {
        @apply w-full flex justify-between items-center border border-solid border-line bg-gray cursor-pointer;
        height: 5.6rem;
        padding: 1.6rem;
        border-radius: 0.8rem;
        .left {
            @apply flex;
            .name {
                margin-left: 1.6rem;
                color: var(--text-active);
            }
        }
        .price {
            font-weight: bold;
            color: var(--text-active);
        }
    }

    .options {
        @apply absolute transition-all duration-200 overflow-hidden;
        transform: translateX(-100%);
        opacity: 0;
        margin-top: 0.8rem;
        top: 6rem;
        left: 0;
        width: 100%;
        background: var(--white);
        border: 1px solid var(--border-line);
        border-radius: 0.8rem;
        &.show {
            z-index: 10;
            opacity: 1;
            transform: none;
            position: initial;
        }
    }
}
