.wrapper{
    padding: 0 5.6rem;
    .inner{
        padding: 4rem 0;
    }
    .bottom{
        margin-top: 2.4rem;
        @apply flex justify-between items-center;
        .note{
            font-size: 1.2rem;
            line-height: 2rem;
        }
    }
}