@import "../../../styles/utilities";

.select{
    background-color: var(--white);
    &.base{
        width: 20.6rem;
        .selectTrigger{
            width: 20.6rem;
            padding: 1.2rem 1.6rem;
        }
    }
    &.large{
        width: 34.25rem;
        .selectTrigger{
            width: 34.25rem;
            padding: 1.6rem 1.6rem;
        }
    }
    &.default{
        .selectTrigger{
            @apply border-solid border border-current;
        }   
    }
    &.custom{
        .selectTrigger{
            @apply border-2;
            border-color: var(--border-line);
            color: var(--text-label);
        }
    }
    &.isActive{
        .selectOptionWrapper{
            @apply block;
        }
    }
}
.selectTrigger{
    @apply outline-none flex justify-between;
    color: var(--text-active);
    border-radius: 0.8rem;

}
.selectOptionWrapper{
    @apply outline-none hidden z-10 absolute;
    border-radius: 0.8rem;
    background-color: var(--white);
    padding: 0.4rem 0rem 0.4rem 0rem;
    margin-top: 0.6rem;
    &.base{
        width: 20.6rem;
    }
    &.large{
        width: 34.25rem;
    }
    &.default{
        @apply border-solid border border-current; 
    }
    &.custom{
        @apply border-2;
        border-color: var(--border-line);
        color: var(--text-label);
    }
    &.active{
        @apply hidden;
    }
}



